<!DOCTYPE html>
<html>
<head>
  <title>UPRN.org.uk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :cdn_code %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_importmap_tags %>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <% flash.each do |key, value| %>
         <div class="alert alert-success"><%= value %></div>
        <% end %>
        <a class="navbar-brand" href="/">UPRN.org.uk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if params[:controller] == 'home' %>">
              <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item <%= 'active' if params[:controller] == 'dashboard' %>">
              <a class="nav-link" href="/dashboard">My Dashboard</a>
            </li>
          </ul>
          <% if session[:userinfo] %>
            <ul class="navbar-nav">
              <li class="nav-item <%= 'active' if params[:controller] == 'logout' %>">
                <a class="nav-link" id="qsLogoutBtn" href="/auth/logout">Logout</a>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
